@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    font-family: 'Zen Dots', cursive;
    background-color: #FBFCFD;
  } */
  /* body {
    color: #f5f2e7;
  } */
  /* html {
    font-family: 'Playwrite AU SA', serif;
  } */

  .playwrite {
    font-family: 'Playwrite AU SA', serif;
  }

  .nf.text-baja{
    color: #BFA989;
  }

  .nf.bg-baja{
    background-color: #BFA989;
  }

  .nf.hover\:bg-baja-dark:hover{
    background-color: #a79376;
  }

  .nf.text-skyblue{
    color: #b0d7f1;
  }

  .nf.bg-skyblue{
    background-color: #b0d7f1;
  }

  .nf.outline-skyblue{
    outline: #b0d7f1;
  }
  
  .nf.bg-skygray{
    background-color: #adc0cd;
  }
  
  .nf.text-cornflower{
    color: #75b9e6;
  }
  .nf.bg-cornflower{
    background-color: #75b9e6;
  }

  .nf.text-teal{
    color: #30a2c2;
  }

  .nf.bg-teal{
    background-color: #30a2c2;
  }

  .nf.border-teal{
    border-color: #30a2c2;
  }
  
  .nf.hover\:text-teal-light:hover{
    color: #43c2e5;
  }

  .nf.hover\:text-cornflower-dark:hover{
    color: #5f95b9;
  }

  .nf.hover\:bg-cornflower-dark:hover{
    background-color: #5f95b9;
  }
  
  .nf.bg-eggshell{
    background-color: #f2f2f2;
  }

  .nf.hover\:bg-eggshell-dark:hover{
    background-color: #cec8b5;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  

}